:root {
		--main-container-width : 800px; 
		--mod-cards-width: 252px;
		}  




/* ============================= */
/* ==== columns view layout ==== */
/* ====================-======== */

	.cp__sidebar-main-content {
			padding: 2rem 1.5rem;
			margin: 0;
			max-width: var(--main-container-width);
		}

	.foldable-title {
		max-width: var(--main-container-width);
		}   


div[data-refs-self*="kanban-gallery"] > .block-children {
	display: inline-block;
	top: 10px;
	vertical-align: top;
	margin: 10px;
  	margin-bottom: 20px;
	}
div[data-refs-self*="kanban-gallery"] >.block-children > div {
	display: inline-block;
	width: var(--mod-cards-width); 
	padding-right: 3px;
	}

.blocks-container,.doc-mode {
		margin: 0px 0;
	}



div[data-refs-self*="kanban"]>.block-children > div {
		box-shadow: 2px 2px 3px #0000003b;
		
		border-radius: 6px;
		background-color: var(--ls-tertiary-background-color);
		margin: 0px 15px 15px 0px; /* SPACE BETWEEN CARDS */
		padding: 1em 0.5em;  /* CARDS BOARDER */
	}
	.block-children .ls-block {
		border: 0px solid var(--ls-secondary-text-color);
		margin: 0px;
	}
	.ls-block {
		margin: 0px 12px 0px -2px;
		padding: 5px 8px 0px 0px;
	}




div[data-refs-self*="kanban-free"] > .block-children {
	display: inline-block;
	top: 10px;
	vertical-align: top;
	margin: 10px;
  	margin-bottom: 20px;
	}
div[data-refs-self*="kanban-free"] >.block-children > div {
	display: inline-block;
 	 width: var(--mod-cards-widtha); 	
	padding-right: 3px;
	}

div[data-refs-self*="kanban-d"] > .block-children {
	display: inline-flex;
	top: 10px;
	vertical-align: top;
	margin: 10px;
  	margin-bottom: 20px;
	}
div[data-refs-self*="kanban-d"] >.block-children > div {
	display: inline-block;
	width: var(--mod-cards-width); 
	padding-right: 3px;
	}