@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/@ibm/plex@4.0.2/css/ibm-plex.min.css?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/* ****************************
************** Root ***********
*******************************/
:root {
  --ls-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif,
    "Segoe UI Emoji", "Segoe UI Symbol";
  --ls-main-content-max-width: 840px;
  --ls-tag-text-opacity: 0.6;
  --ls-tag-text-hover-opacity: 0.8;
  --ls-page-text-size: 1em;
  --ls-page-title-size: 36px;
}

/* *****************************
********* Dark Theme ***********
*******************************/
.dark-theme,
html[data-theme=dark] {
  --ls-primary-background-color: rgb(47, 52, 55);
  --ls-secondary-background-color: rgb(55, 60, 63);
  --ls-tertiary-background-color: rgb(67, 72, 75);
  --ls-quaternary-background-color: rgb(148 158 164);
  --ls-table-tr-even-background-color: #0404061c;
  --ls-callout-background-color: rgba(69, 75, 78, 0.3);
  --ls-codeblock-background-color: #3f4447;
  --ls-active-primary-color: var(--ls-link-text-color);
  --ls-active-secondary-color: var(--ls-link-text-hover-color);
  --ls-block-properties-background-color: #2a2d2d;
  --ls-block-ref-link-text-color: #73d2f6;
  --ls-search-background-color: var(--ls-primary-background-color);
  --ls-border-color: #292323;
  --ls-guideline-color: var(--ls-tertiary-background-color);
  --ls-menu-hover-color: var(--ls-secondary-background-color);
  --ls-primary-text-color: rgb(255 255 255 / 90%);
  --ls-secondary-text-color: #dfdfdf;
  --ls-title-text-color: var(--ls-primary-text-color);
  --ls-link-text-color: #f67373;
  --ls-link-text-hover-color: #f29191;
  --ls-alink-color: var(--ls-link-text-color);
  --ls-link-ref-text-color: #6fc2ef;
  --ls-link-ref-text-hover-color: #8cd2f8;
  --ls-tag-text-color: white;
  --ls-tag-text-hover-color: white;
  --ls-tag-background-color: #407fab;
  --ls-tag-background-hover-color: #6fabd5;
  --ls-slide-background-color: var(--ls-primary-background-color);
  --ls-block-bullet-border-color: #ffffff14;
  --ls-block-bullet-color: #ffffff1c;
  --ls-block-highlight-color: #fbfbfb23;
  --ls-selection-background-color: #ab3641;
  --ls-page-checkbox-color: #935c62;
  --ls-page-checkbox-border-color: var(--ls-primary-background-color);
  --ls-page-blockquote-border-color: var(--ls-primary-text-color);
  --ls-page-inline-code-color: #eb5757;
  --ls-page-inline-code-bg-color: rgba(135, 131, 120, 0.15);
  --ls-page-properties-background-color: #adadad1c;
  --ls-scrollbar-foreground-color: rgba(192, 202, 223, 0.15);
  --ls-scrollbar-background-color: rgba(42, 46, 49, 0.9);
  --ls-scrollbar-thumb-hover-color: rgba(255, 255, 255, 0.2);
  --ls-head-text-color: #ffe27c;
  --ls-icon-color: var(--ls-quaternary-background-color);
  --ls-search-icon-color: var(--ls-quaternary-background-color);
  --ls-a-chosen-bg: var(--ls-secondary-background-color);
  --ls-right-sidebar-code-bg-color: #3c041f;
  --color-level-1: var(--ls-secondary-background-color);
  --color-level-2: var(--ls-tertiary-background-color);
  --color-level-3: var(--ls-quaternary-background-color);
  --color-level-4: #632f46;
  --color-level-5: #865673;
  --color-level-6: #9e6889;
  --ls-block-bullet-threading-width: 2px;
  --ls-block-bullet-active-color: #4a99b9;
}


/*****************************************
  This section is for global layout
  DO NOTHING TO COLOR DESIGN
*****************************************/
html.is-electron.is-mac .cp__header {
  height: calc(2.6rem + var(--frame-top-height));
}

.cp__sidebar-main-content {
  width: 100%;
}

#main-content-container .file {
  margin: 0 auto;
}

.CodeMirror .CodeMirror-sizer {
  min-width: unset !important;
}
.CodeMirror .CodeMirror-line {
  width: 0;
  /* Safari version */
  /* max-width: 70vw; */
}

/*****************************************
  Dark Theme
*****************************************/
.dark-theme ::selection {
  background: var(--ls-block-highlight-color);
}
.dark-theme #main-content-container .cp__sidebar-main-content:before {
  background: linear-gradient(to bottom, rgba(24, 24, 24, 0.7) 0%, rgba(24, 24, 24, 0) 100%);
}
.dark-theme #left-bar .close-panel-btn {
  color: var(--ls-primary-text-color);
  opacity: 0.6;
}
.dark-theme .cp__header a:hover {
  background-color: #3e4144;
}
.dark-theme .cp__header .cp__header-left-menu {
  color: var(--ls-primary-text-color);
  opacity: 0.6;
}
.dark-theme .cp__right-sidebar .cp__right-sidebar-topbar .cp__right-sidebar-settings .cp__right-sidebar-settings-btn {
  color: var(--ls-secondary-text-color);
  opacity: 0.7;
}
.dark-theme .cp__right-sidebar .cp__right-sidebar-topbar .cp__right-sidebar-settings .cp__right-sidebar-settings-btn:hover {
  background-color: #535558;
  color: white;
  opacity: 1;
}
.dark-theme .cp__right-sidebar .sidebar-item-list {
  background-color: var(--ls-secondary-background-color, #d8e1e8);
}
.dark-theme .cp__right-sidebar .sidebar-item-list .sidebar-item {
  background-color: var(--ls-secondary-background-color, #d8e1e8);
  border-bottom: 2px solid #484d52;
}
.dark-theme .content a.tag {
  opacity: 0.83;
}
.dark-theme .content a.tag:hover {
  opacity: 1;
}
.dark-theme .content b,
.dark-theme .content strong {
  font-weight: bolder;
  color: #fff;
}
.dark-theme .content mark {
  background: #59563b;
  color: var(--ls-primary-text-color);
}
.dark-theme .content .external-link {
  border-bottom: 0.05em solid rgba(255, 255, 255, 0.4);
}
.dark-theme .content .block-ref {
  background: #1f535878;
  border-bottom-color: #53d2d280;
}
.dark-theme .content .marker-switch {
  color: #b5a7a7;
  background: #52373a;
}
.dark-theme .content .marker-switch:hover {
  background: #5d3e41;
}
.dark-theme .content table th {
  background-color: #414548;
}
.dark-theme .content svg.add-button > .circle {
  fill: var(--ls-block-bullet-color, #394b59);
}

/*****************************************
  Code Mirror
*****************************************/
.cm-s-solarized,
.cm-s-solarized.cm-s-dark {
  background-color: var(--ls-codeblock-background-color);
  text-shadow: unset;
}
.cm-s-solarized.CodeMirror,
.cm-s-solarized.cm-s-dark.CodeMirror {
  -moz-box-shadow: unset;
  -webkit-box-shadow: unset;
  box-shadow: unset;
}
.cm-s-solarized .CodeMirror-gutters,
.cm-s-solarized.cm-s-dark .CodeMirror-gutters {
  background-color: var(--ls-codeblock-background-color);
}
.cm-s-solarized .CodeMirror-linenumber,
.cm-s-solarized.cm-s-dark .CodeMirror-linenumber {
  text-shadow: unset;
}

/* theme general */
.extensions__code .extensions__code-lang {
  background-color: var(--ls-codeblock-background-color);
  margin-right: 5px;
}
.extensions__code textarea {
  color: var(--ls-primary-text-color);
  background-color: var(--ls-codeblock-background-color);
}
.extensions__code .CodeMirror {
  color: var(--ls-secondary-text-color);
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 25px 10px 24px 20px;
}
.extensions__code .CodeMirror .CodeMirror-gutters {
  background-color: var(--ls-codeblock-background-color);
}
.extensions__code .CodeMirror .CodeMirror-scroll .CodeMirror-sizer .CodeMirror-lines .CodeMirror-cursors .CodeMirror-cursor {
  border-left: solid thin #82aaff;
}
.extensions__code .CodeMirror .CodeMirror-scroll .CodeMirror-sizer .CodeMirror-lines .CodeMirror-code {
  outline: 0;
  font-size: 0.85em;
}

.white-theme .cp__right-sidebar .CodeMirror,
.white-theme .cp__right-sidebar .CodeMirror-gutters,
.white-theme .cp__right-sidebar .extensions__code-lang {
  background-color: rgba(242, 241, 238, 0.95);
}

/* IMPORTANT
  Replace scrollbar to fix incomplete code scrolling
  This strategy will also make line number scroll
  It'll be deprecated if Logseq fix the code scolling issue
*/
.extensions__code .CodeMirror {
  background-color: unset;
  padding: 0;
}
.extensions__code .CodeMirror .CodeMirror-gutters {
  width: 0;
}
.extensions__code .CodeMirror .CodeMirror-sizer {
  min-width: unset !important;
  padding: 0 !important;
  margin: 0 !important;
}
.extensions__code .CodeMirror .CodeMirror-hscrollbar {
  visibility: hidden;
}
.extensions__code .CodeMirror ::-webkit-scrollbar {
  background-color: #3f4447;
}
.extensions__code .CodeMirror .CodeMirror-lines {
  overflow-x: scroll;
  padding: 25px 8px 16px 40px;
  background-color: var(--ls-codeblock-background-color);
}
.extensions__code .CodeMirror .CodeMirror-lines span[role=presentation] {
  padding-right: 20px !important;
}
.extensions__code .CodeMirror .CodeMirror-lines .CodeMirror-code .CodeMirror-gutter-wrapper {
  left: -32px !important;
}

.white-theme .extensions__code .CodeMirror ::-webkit-scrollbar {
  background-color: #f7f6f3;
}

/* Rewrite .cm-s-solarized */
.cm-s-solarized .CodeMirror-activeline-background {
  background: rgba(255, 255, 255, 0.1);
}
.cm-s-solarized.cm-s-dark div.CodeMirror-selected {
  background-color: rgba(255, 255, 255, 0.1);
}
.cm-s-solarized .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: #5bdfdf !important;
}
.cm-s-solarized span.cm-comment {
  color: #a0a0a0;
}
.cm-s-solarized span.cm-string,
.cm-s-solarized span.cm-string-2 {
  color: #e6c963;
}
.cm-s-solarized span.cm-number {
  color: #978ade;
}
.cm-s-solarized span.cm-variable {
  color: #82aaff;
}
.cm-s-solarized span.cm-variable-2 {
  color: rgba(255, 255, 255, 0.7);
}
.cm-s-solarized span.cm-def {
  color: var(--ls-secondary-text-color);
}
.cm-s-solarized span.cm-operator {
  color: #f15f60;
}
.cm-s-solarized span.cm-keyword {
  color: #f15f60;
}
.cm-s-solarized span.cm-atom {
  color: #978ade;
}
.cm-s-solarized span.cm-meta {
  color: white;
}
.cm-s-solarized span.cm-tag {
  color: #f07178;
}
.cm-s-solarized span.cm-attribute {
  color: #c792ea;
}
.cm-s-solarized span.cm-qualifier {
  color: #41b394;
}
.cm-s-solarized span.cm-property {
  color: #9bd174;
}
.cm-s-solarized span.cm-builtin {
  color: #45add6;
}
.cm-s-solarized span.cm-variable-3,
.cm-s-solarized span.cm-type {
  color: orange;
}

.white-theme .cm-s-solarized .CodeMirror-selected {
  background-color: rgba(168, 175, 255, 0.2);
}
.white-theme .cm-s-solarized span.cm-string,
.white-theme .cm-s-solarized span.cm-string-2 {
  color: orange;
}
.white-theme .cm-s-solarized span.cm-variable-2 {
  color: rgba(0, 0, 0, 0.7);
}
.white-theme .cm-s-solarized span.cm-def {
  color: var(--ls-secondary-text-color);
}
.white-theme .cm-s-solarized span.cm-meta {
  color: var(--ls-secondary-text-color);
}


/* ============================= */
/* ==== columns view layout ==== */
/* ====================-======== */

	.cp__sidebar-main-content {
			padding: 2rem 1.5rem;
			margin: 0;
			max-width: var(--main-container-width);
		}

	.foldable-title {
		max-width: var(--main-container-width);
		}   


div[data-refs-self*="kanban-gallery"] > .block-children {
	display: inline-block;
	top: 10px;
	vertical-align: top;
	margin: 10px;
  	margin-bottom: 20px;
	}
div[data-refs-self*="kanban-gallery"] >.block-children > div {
	display: inline-block;
	width: var(--mod-cards-width); 
	padding-right: 3px;
	}

.blocks-container,.doc-mode {
		margin: 0px 0;
	}



div[data-refs-self*="kanban"]>.block-children > div {
		box-shadow: 2px 2px 3px #0000003b;
		
		border-radius: 6px;
		background-color: var(--ls-tertiary-background-color);
		margin: 0px 15px 15px 0px; /* SPACE BETWEEN CARDS */
		padding: 1em 0.5em;  /* CARDS BOARDER */
	}
	.block-children .ls-block {
		border: 0px solid var(--ls-secondary-text-color);
		margin: 0px;
	}
	.ls-block {
		margin: 0px 12px 0px -2px;
		padding: 5px 8px 0px 0px;
	}




div[data-refs-self*="kanban-free"] > .block-children {
	display: inline-block;
	top: 10px;
	vertical-align: top;
	margin: 10px;
  	margin-bottom: 20px;
	}
div[data-refs-self*="kanban-free"] >.block-children > div {
	display: inline-block;
 	 width: var(--mod-cards-widtha); 	
	padding-right: 3px;
	}

div[data-refs-self*="kanban-d"] > .block-children {
	display: inline-flex;
	top: 10px;
	vertical-align: top;
	margin: 10px;
  	margin-bottom: 20px;
	}
div[data-refs-self*="kanban-d"] >.block-children > div {
	display: inline-block;
	width: var(--mod-cards-width); 
	padding-right: 2px;
	}